@page
@model RazorBD.IndexDepartamentModel

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a asp-page="Create">Create new department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departament[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departament[0].Short)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departament) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Short)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Departamentid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Departamentid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Departamentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
