@page
@model RazorBD.IndexProductModel

@{
    ViewData["Title"] = "Index";
}

    <h1>Products</h1>

<p>
    <a asp-page="Create">Create new Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Plu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Netprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Vatrate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Netprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vatrate.Vatrateid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Productid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Productid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Productid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
